/* general */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    
}
#boxWrapper{
    width: 400px;
    height: 400px;
    margin: 50px auto;
    
}

.box{
    width: 50px;
    height: 50px;
    border:1px solid black;
}
.fizz{
    background-color:  lightgreen;
    border:1px solid black;
}
.buzz{
        background-color: yellow;
        border:1px solid black;

}
.fizzbuzz {
    background-color: red;
    border:1px solid black;

}
.bgdefault {
    background-color: blue;
    border:1px solid black;

}