/* general */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    
}
.Wrapper{
    width: 100%;
    
    
}

.my-box{
    width: 900px;
   
}
.my-small-box {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    border-radius: .75em;
}
.bgfizz{
    background-color:  lightgreen;
    border:1px solid black;
}
.bgbuzz{
        background-color: yellow;
        border:1px solid black;

}
.bgfizzbuzz {
    background-color: red;
    border:1px solid black;

}
.bgdefault {
    background-color: blue;
    border:1px solid black;

}